* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
}

.blueButton {
  background-color: #00adef;
  border: 1px solid #00adef;
  padding: 6px 12px;
  border-radius: 0px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  outline: none;
}

.blueButton:hover {
  color: #fff;
  border-color: #00adef;
  background-color: #0088c6;
}

.blueButton:focus {
  outline: none;
  box-shadow: none;
}

.moreInfo .info {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 0px 30px;
}

.moreInfo .info p {
  margin-bottom: 14px;
}

.moreInfo .info .info__icon {
  padding: 30px 0px 20px;
}

.moreInfo .info .info__icon ul {
  list-style: none;
  display: flex;
  margin-bottom: 0px;
}

.moreInfo .info .info__icon ul li {
  display: inline-block;
  margin-right: 20px;
}

.moreInfo .moreTopic {
  margin: 30px;
}

.moreInfo .moreTopic .topic {
  margin: 0px;
}

.moreInfo .moreTopic .topic .topic__item {
  padding: 0px;
}

.moreInfo .moreTopic .topic .topic__item h2 {
  font-family: 'Roboto', serif;
  color: #fff;
  font-size: 34px;
  font-weight: normal;
}

.moreInfo .moreTopic .topic .topic__item hr {
  height: 1px;
  margin: 30px -1px;
  display: block;
  width: 100%;
  background-color: #333;
  border: none;
}

.moreInfo .moreTopic .topic .topic__item ul {
  list-style: none;
  margin-bottom: 14px;
}

.moreInfo .moreTopic .topic .topic__item ul li a {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  line-height: 22px;
  transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.moreInfo .moreTopic .topic .topic__item ul li a:hover {
  color: #00adef;
  font-size: 14px;
  font-weight: normal;
}

.welcome .search {
  background-color: #141414;
  padding: 26px 0px;
}

.welcome .search .search__box {
  padding: 0px;
}

.welcome .search .search__box .input-group input {
  border: 1px solid #ececec;
  border-radius: 0px;
  border-right: none;
  color: #333;
  font-size: 18px;
  font-weight: normal;
  padding: 8px 14px;
}

.welcome .search .search__box .input-group input::placeholder {
  color: #ccc;
  font-size: 16px;
  font-weight: normal;
}

.welcome .search .search__box .input-group .input-group-append span {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 0px;
  border-left: none;
  padding: 5px 20px;
  cursor: pointer;
}

.welcome .search .search__box .input-group .input-group-append span i {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
  padding: 0px;
}

.welcome .welcome__text {
  padding: 50px 0px;
}

.welcome .welcome__text .container {
  padding: 60px 0px;
}

.welcome .welcome__text .container .left h2 {
  color: #fff;
  font-size: 26px;
  font-weight: normal;
  font-family: 'Roboto', serif;
  line-height: 45px;
  margin-bottom: 14px;
}

.welcome .welcome__text .container .left p {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  text-align: justify;
}

.welcome .welcome__text .container .left p a {
  color: #00adef;
  font-size: 13px;
  font-weight: normal;
}

.welcome .welcome__text .container .left p a:hover {
  color: #0088c6;
}

.welcome .welcome__text .container .left .blueButton {
  margin-top: 40px;
}

.welcome .name__brand .container {
  padding: 0px;
}

.welcome .name__brand .container a {
  position: relative;
  display: block;
}

.welcome .name__brand .container a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  display: block;
  background-color: #00adef;
  transition: all 0.16s;
  opacity: 0;
}

.welcome .name__brand .container a:hover::after {
  height: 7px;
  opacity: 1;
}

.welcome .name__brand .container .col-md-3 {
  padding: 0px 9px;
}

@media screen and (max-width: 768px) {
  .welcome .name__brand .container .col-6, .welcome .name__brand .container .col-md-3 {
    padding: 5px;
  }
  .welcome .welcome__text {
    padding: 20px 0px;
  }
  .welcome .welcome__text .container .left h2 {
    color: #fff;
    font-size: 22px;
    font-weight: normal;
  }
  .welcome .welcome__text .container .left .blueButton {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */